html,body { font-size: 12px;FONT-FAMILY: "ו",tahoma,arial;text-align:left;padding:0;margin:0px 0px 0px 0px;float:center;}
h1, h2, h3, h4, h5, h6, form, div, p, i, img, ul, li, ol, table, tr, td,th, fieldset, label, legend,button,input { margin:0px auto;padding:0px;}
table,td,th{font-size: 12px;}
li{list-style:none;}
a img{border:none;}
a:link{text-decoration:none;color:#003CC8;}
a:visited{text-decoration:none;color:#003CC8;}
a:active,a:hover{text-decoration:underline;color:#FF6600;}
input{border:1px solid #999999;height:22px;line-height:22px;background-color:#F0F0F0;}
.submit{BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #eeeeee 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #eeeeee 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #cccccc;}
.daohang{background-color:#6e7879;height:25px;width:100%;color:#fff;}
.tishi{background: url(../myimages/1/title.gif);height:25px;line-height:25px;}
.inputtable{float:center;position:relative;width:90%;border:1px solid #C6CBEE;padding:0px;margin:0px auto;}

.usermanage{float:center;position:relative;width:95%;border:1px solid #C6CBEE;padding:0px;margin:0px auto;}
.usermanage_1{font-weight:bold;padding:1px;height:20px;line-height:20px;border-left:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;}
.usermanage_2{padding:1px;height:21px;line-height:21px;border-left:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}

.bianmamanage{float:center;width:99%;border:1px solid #C6CBEE;padding:0px;margin:5px 0px 0px 5px;}
.helpbian{float:center;BACKGROUND-COLOR: #ffffff;line-height:22px;width:99%;border:1px solid #C6CBEE;padding:0px;margin:5px 0px 0px 5px;}
.help_title{border-bottom:1px solid #C6CBEE;BACKGROUND-COLOR: #DDE0F4;pdding-left:3px;}

.select_client{float:center;width:99%;border:1px solid #C6CBEE;padding:0px;margin:2px 0px 0px 0px;}
.bianmatable{float:center; width:90%;border:1px solid #C6CBEE;padding:0px;margin:0px auto;padding:0px;}
.bianmagxh{padding:1px;height:20px;line-height:20px;border-bottom:1px solid #D8D8D8;font-weight:bold;}
.bianmacz{padding:1px;height:20px;line-height:20px;border-left:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;font-weight:bold;}

.kaigongmanage{float:center;position:relative;width:99%;border:1px solid #C6CBEE;padding:0px;margin:5px 0px 0px 5px;}
.class_table{padding:2px;height:20px;line-height:20px;border-left:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;}
.class_table_2{padding:2px;height:20px;line-height:20px;border-left:1px solid #D8D8D8;border-bottom:1px solid #D8D8D8;}

.provideuser_1{text-align:right;height:25px;line-height:25px;padding:2px;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.provideuser_2{text-align:left;height:25px;line-height:25px;padding:2px;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.provideuser_3{text-align:left;height:25px;line-height:25px;padding:2px;width:40%;border-bottom:1px solid #e8e8e8;}
.buttons{BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #eeeeee 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #eeeeee 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #cccccc;}


.client_detail{float:center;width:640px;;border:1px solid #C6CBEE;padding:0px;margin:5px 0px 0px 5px;}

